ahkPath=C:\\Program Files\\AutoHotkey\\AutoHotkey.exe
scriptPath=C:\\ahkScripts\\
pathFlipMap={'/plex/media/path/':'X:\\\\\','/plex/media/path2/':'Y:\\\\\'}
autoConnect=false
plexBaseUrl=http://localhost:32400/
plexToken=
plexMovieSections=1
plexTvSections=2,4
discordToken=
discordTrigger=!cable